<!DOCTYPE html>
<html>
  <head>
    <title>BootcampActivity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <script src="https://cdn.tailwindcss.com"></script>

  <style>

  .btn{
    border: 1px solid #444;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease
  }
  .btn:hover{
    background: #999;
  }
  
  input{
    border: 1px solid #888;
    border-radius: 5px;
    height: 40px
  }
 th, td{
  padding: 10px 20px;
  border: 1px solid #eee;
 }
  .field{
    width: 300px;
    display: flex;
    justify-content: space-between
  }
  </style>

  <body class="p-4">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
